#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* *** NAVBAR SECTION *** */
.header-container {
  margin-bottom: 30px;
  padding: 10px;
  background-color: #EDECF6;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #747bff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

#af-logo-btn {
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#af-logo {
  width: 65px;
  transition: .3s;
}

#af-logo:hover {
  filter: drop-shadow(0px 0px 15px #747bff)
}

#af-text-logo {
  width: 75px;
}

.logo-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#navbar-section {
  width: 430px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navbar-section ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.search-bar-container {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

#magnifying-glass {
  width: 25px;
}

#input-text-bar {
  width: 90%;
  height: 30px;
  color: #747bff;
  background-color: #EDECF6;
  border: none;
  border-radius: 10px;
  transition: .3s;
}

#input-text-bar:hover {
  border: 2px solid #747bff;
}

#input-text-bar::placeholder {
  color:#747bff;
}

#search-button {
  padding: 5px;
  background-color: transparent;
  color: #646cff;
  transition: .3s;
}

#search-button:hover {
  color: #fff;
  background-color: #747bff;
}



/* *** MAIN SECTION *** */
#rentCard-container {
  background-color: #EDECF6;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 5px 10px #747bff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.each-card {
  margin: 10px;
  width: 320px;
  min-height: 400px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px #333;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.img {
  position: relative; 
  width: 100%;
}
.fav-button {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: transparent;
  border: none; 
  border-radius: 50%; 
  padding: 5px;
  cursor:auto;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); Agrega un sombreado suave */
  filter: drop-shadow(0px 0px 10px #000);
}

.fav-button:hover {
  filter: drop-shadow(0px 0px 5px #ca11ff);
}

.info-card-container {
  flex-grow: 1; 
  height: auto;
  background-color: #747bff;
}

.info-card-container img{
  width: 100%;
}

.info-card-container img:hover {
  box-shadow: 0px 0px 10px #EDECF6;
}

.info-card-text {
  padding-inline: 10px;
  color:#EDECF6;
}

.btn-card-container {
  background-color: #747bff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.btn-card-container button {
  background-color: #EDECF6;
}

.btn-card-container button:hover {
  border: 1px solid #747bff;
  box-shadow: 5px 5px 10px #333;
  border: 1px solid #7a71ff;
}

/* *** 404 not found page *** */

#notFound-container {
  height: 400px;
  border-radius: 10px;
  background-image: url("./assets/404.png");
  background-position: center;
  background-size: cover;
  border: 3px solid #EDECF6;
  box-shadow: 5px 5px 10px #747bff;

}

/* *** Saber Más *** */
.main-container{
  color:#000;
  background-color: #EDECF6;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 5px 10px #747bff;
}

.main-container hr {
  width: 90%;
  margin: 5px;
  border: 3px solid #747bff;
  border-radius: 20px;;
  box-shadow: 3px 3px 7px #646cff;
}

.user-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;  
}
.user-details {
  margin-top: 20px;
  padding-inline: 20px;
}
/* *** FOOTER SECTION *** */
.footer-section {
  margin-top: 30px;
  padding: 10px;
  background-color: #EDECF6;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #747bff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

#footer-logo {
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-logo:hover {
  filter: drop-shadow(0px 0px 15px #747bff)
}

#footer-logo img{
  width: 80px;
}

.text-container {
  padding: 15px;
  color:#333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container p {
  text-align: center;
}

#gitHub-footer-hr {
  color:#333;
  text-shadow: 0px 0px 5px #646cff;
}

#reserved-rights-text {
  color: #9d9d9d;
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: #333;
      color: #fff;
  }
  .each-card {
    color: #333;
    background-color:  #6f649389;
    
  }

}